.jumbotron-override {
    margin-bottom: 0rem;
    padding: 25px 0px;
    background-color: #d7e6f4;
   };
   
.btn-override {
       margin-left: 16px;
       margin-right: 34px;
   };

.h1, h1 {
    font-size: 3.5rem;
}

.p, p {
    color: grey;
};

.container {
    padding-right: 0px;
    padding-left: 0px;
    
};

.btn-link {
    font-weight: 400;
    color: gray;
};

.btn-link:hover {
    color: #17a2b8;
    text-decoration: none;
};

.card-header {
    padding: 0px;
};

.form-control:focus {
    border-color: #17a2b8;
}